{
    "parser": "babel-eslint",
    "extends": "airbnb/base",
    "rules": {
        "indent": ["error", 4],
        "max-len": [1, 100, 4, { "ignoreUrls": true }],
        "no-unused-vars": [2, {
            "vars": "local",
            "args": "after-used",
            "argsIgnorePattern": "^_",
            "varsIgnorePattern": "^_"
        }],
        "object-curly-spacing": [2, "always", { "objectsInObjects": false }],
        "quotes": [2, "double", "avoid-escape"],
        "space-before-function-paren": [2, "always"]
    },
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
    }
}
